.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}

.messages {
padding: 10px;
}
.avatarPerson {
    width: 50px;
    border-radius: 100%;
}